html
  head
    link(rel="stylesheet" href="index.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  body
    h1 Fashion Tech Hackathon
    h3 January 29-31st
